.btn-info {
  text-transform: uppercase;
  background-color: #d81375;
  border-color: transparent;

  &:hover {
    background-color: rgba(#d81375, .8);
    border-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus {
    background-color: #d81375;
    border-color: transparent;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }
}
