// Proxima-nova
@font-face {
  font-family: "ProximaNova";
  src:
    url("../../fonts/proxima-nova/ProximaNova-Regular.woff") format("woff"),
    url("../../fonts/proxima-nova/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src:
    url("../../fonts/proxima-nova/ProximaNovaBold.woff") format("woff"),
    url("../../fonts/proxima-nova/ProximaNovaBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
