// Override Bootstrap's variables before importing
// node_modules/bootstrap/scss/_variables.scss

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Jumbotron
$jumbotron-bg: white;

// Misc
$border-radius: 3px;

// Buttons
$btn-border-radius: 3px;
$btn-padding-x: 25px;
$btn-padding-x-lg: 50px;
$btn-font-size-lg: 1.15rem;

// Type
$headings-margin-bottom: 0.5em;
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 16px;

$display1-size: 50px;
$display2-size: 34px;
$display3-size: 24px;
$display4-size: 16px;

// Navigation
$navbar-dark-color: #90278b;
$navbar-dark-hover-color: rgba(#90278b, .75);
$navbar-dark-active-color: lighten(#90278b, 30%);

// Buttons
$form-file-button-bg: #d81375;

// Links
$link-color: #d81375;
$link-hover-color: rgba(#d81375, .15);

// Font
$font-family-sans-serif: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Then import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
